In [67]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, String, Date, ForeignKey, UniqueConstraint
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy.dialects.mysql import INTEGER
import psycopg2
import pandas as pd
import numpy as np

# TABLES DIAGRAM

![title](schema.jpg)

# CREATE DATABASE ENGINE

In [68]:
SUMMER_PATH = "data/summer.csv"
WINTER_PATH = "data/winter.csv"
DICT_PATH = "data/dictionary.csv"

In [69]:
df_summer  = pd.read_csv(SUMMER_PATH)
df_winter  = pd.read_csv(WINTER_PATH)
df_dict  = pd.read_csv(DICT_PATH)
df_summer.fillna('nan')
df_summer["Olympics"]='Summer'
df_winter.fillna('nan')
df_winter["Olympics"]='Winter'
df=pd.concat([df_summer,df_winter])
df['Surname'] = df['Athlete'].str.split(", ",expand=True,)[0]
df['Name'] = df['Athlete'].str.split(", ",expand=True,)[1]
df.head(100000)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Olympics,Surname,Name
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Summer,HAJOS,Alfred
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Summer,HERSCHMANN,Otto
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Summer,DRIVAS,Dimitrios
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Summer,MALOKINIS,Ioannis
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Summer,CHASAPIS,Spiridon
...,...,...,...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,Winter,JONES,Jenny
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,Winter,ANDERSON,Jamie
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Winter,MALTAIS,Dominique
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Winter,SAMKOVA,Eva
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,Winter,TRESPEUCH,Chloe

# CREATE DATABASE ENGINE

In [70]:
db_string = "postgres://postgres:mateusz16@localhost:5432/adb_final"

# READING UNIQUE INFORMATION

In [71]:
df_dict=df_dict.rename({"Country": "name","Code": "code","Population": "population","GDP per Capita":"gdp_per_capita"},axis='columns')
df_dict=df_dict.fillna('0')
df=df.fillna('Nan')
countries= df_dict[["name","code", "population", "gdp_per_capita"]].drop_duplicates().reset_index().drop(columns = ['index']);                       

countries.index.name='id'
cities=df["City"].unique()
sports=df["Sport"].unique()
disciplines=df[["Discipline", "Sport"]].drop_duplicates().reset_index().drop(columns = ['index']);  
events=df[["Event", "Discipline"]].drop_duplicates().reset_index().drop(columns = ['index']);  
athletes=df[["Name", "Surname", "Gender", "Country"]].fillna('NaN').drop_duplicates().reset_index().drop(columns = ['index']);  
olympics=df[["Year", "City", "Olympics"]].drop_duplicates().reset_index().drop(columns = ['index']); 
medals=df[["Olympics", "Event", "Name", "Surname", "Medal", "Country", "Year", "City"]].drop_duplicates().reset_index().drop(columns = ['index']);

# CREATE DATABASE ENGINEE

In [72]:
db = create_engine(db_string)
Base = declarative_base()

# TABLES IMPLEMENTATION

In [73]:
class Athlete(Base):
    __tablename__ = 'Athlete'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    surname = Column(String(100))
    country_id = Column(Integer, ForeignKey('Countries.id'))
    gender = Column(String(10))
    
    def __repr__(self):
        return "<Athlete(id = '{0}' , name = {1}, surname = {2}, , country_id = {3}, gender = {4}>".format(
            self.id, self.name, self.surname, self.country_id, self.gender)

class Countries(Base):
    __tablename__ = 'Countries'
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    code = Column(String(10))
    population = Column(INTEGER(unsigned=True))
    gdp_per_capita = Column(Float)
    
    def __repr__(self):
        return "<Countries(id = '{0}' , name = {1}, code = {2}, population = {3}, gdp_per_capita = {4}>".format(
            self.id, self.name, self.code, self.population, self.gdp_per_capita)

class Medals(Base):
    __tablename__ = 'Medals'
    id = Column(Integer, primary_key=True)
    olympics_id = Column(Integer, ForeignKey('Olympics.id'))
    event_id = Column(Integer, ForeignKey('Events.id'))
    athlete_id = Column(Integer, ForeignKey('Athlete.id'))
    medal_type = Column(String(10))
    
    def __repr__(self):
        return "<Medals(id = '{0}' , olympics_id = {1}, event_id = {2}, athlete_id = {3}, medal_type = {4}>".format(
            self.id, self.olympics_id, self.event_id, self.athlete_id, self.medal_type)

class Olympics(Base):
    __tablename__ = 'Olympics'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    year = Column(INTEGER(unsigned=True))
    olympics_type = Column(String(10))
    city_id = Column(Integer, ForeignKey('Cities.id'))
    
    def __repr__(self):
        return "<Olympics(id = '{0}' , year = {1}, olympics_type = {2}, city_id = {3}>".format(
            self.id, self.year, self.olympics_type, self.city_id)
    
class Cities(Base):
    __tablename__ = 'Cities'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<City(id = '{0}' , name = {1}>".format(
            self.id, self.name)

class Events(Base):
    __tablename__ = 'Events'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    discipline_id = Column(Integer, ForeignKey('Disciplines.id'))
     
    def __repr__(self):
        return "<Events(id = '{0}' , name = {1}, discipline_id = {2}>".format(
            self.id, self.name, self.discipline_id)

class Disciplines(Base):
    __tablename__ = 'Disciplines'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    sport_id = Column(Integer, ForeignKey('Sports.id'))
    
    def __repr__(self):
        return "<Disciplines(id = '{0}' , name = {1}, sport_id = {2}>".format(
            self.id, self.name, self.sport_id)

class Sports(Base):
    __tablename__ = 'Sports'
    __table_args__ = (UniqueConstraint('name'),)
    id = Column(Integer, primary_key=True)
    name = Column(String(100))
    
    def __repr__(self):
        return "<Sports(id = '{0}' , name = {1}>".format(
            self.id, self.name)

In [74]:
Base.metadata.create_all(db)

In [75]:
Session = sessionmaker(bind = db)
session = Session()
session.rollback()

In [76]:
session.flush()

In [77]:
#Functions to find ID's

def find_sports_id(session, sports_name):
    return session.query(Sports.id).filter(Sports.name == sports_name).all()[0][0]

def find_disciplines_id(session, disciplines_name):
    return session.query(Disciplines.id).filter(Disciplines.name == disciplines_name).all()[0][0]

def find_cities_id(session, city_name):
    return session.query(Cities.id).filter(Cities.name == city_name).all()[0][0]

def find_countries_id(session, country_code):
    for cd in df_dict["code"]:
        if country_code==cd:
             return session.query(Countries.id).filter(Countries.code == country_code).all()[0][0]
             continue
        else: 
            pass
    return session.query(Countries.id).filter(Countries.code == 'Nan').all()[0][0]

def find_athlete_id(session, athlete_name, athlete_surname, athlete_country):
    for id_, athlete in df[['Name','Surname','Country']].iterrows():
        if athlete["Name"]==athlete_name and athlete["Surname"]==athlete_surname and athlete["Country"]==athlete_country:
            country_id_=find_countries_id(session, athlete_country)
            #print(athlete["Name"],athlete["Surname"],country_id_)
            return session.query(Athlete.id).filter(Athlete.name == athlete_name and Athlete.surname == athlete_surname and Athlete.country_id==country_id_).all()[0][0]


def find_olympics_id(session, olympics_type, olympics_year):
    #print(olympics[['Year','Olympics']])
    for id_, olympic in olympics[['Year','Olympics']].iterrows():
         if olympic["Olympics"]==olympics_type and olympic["Year"]==olympics_year:
                return session.query(Olympics.id).filter((Olympics.year == olympics_year) and (Olympics.olympics_type == olympics_type)).all()[0][0]

def find_events_id(session, events_name):
    return session.query(Events.id).filter(Events.name == events_name).all()[0][0]

IndexError: list index out of range

# FILLING DATABASE

In [79]:
# Fill Cities Table
for city in set(cities.tolist()):
    session.add(Cities(name=city)) 
session.query(Cities).limit(5).all()

[<City(id = '1' , name = Helsinki>,
 <City(id = '2' , name = Rome>,
 <City(id = '3' , name = Munich>,
 <City(id = '4' , name = Squaw Valley>,
 <City(id = '5' , name = Vancouver>]

In [80]:
# Fill Sports Table
for sport in set(sports.tolist()):
    session.add(Sports(name=sport)) 
session.query(Sports).limit(5).all()

[<Sports(id = '1' , name = Softball>,
 <Sports(id = '2' , name = Sailing>,
 <Sports(id = '3' , name = Hockey>,
 <Sports(id = '4' , name = Tennis>,
 <Sports(id = '5' , name = Shooting>]

In [81]:
# Fill Countries Table
for id_, country in countries.iterrows():
    session.add(Countries(name=country["name"], code=country["code"], population=country["population"], gdp_per_capita=country["gdp_per_capita"])) 
session.add(Countries(name='Nan', code='Nan', population=0, gdp_per_capita=0))
session.query(Countries).limit(5).all()

[<Countries(id = '1' , name = Afghanistan, code = AFG, population = 32526562, gdp_per_capita = 594.323081219966>,
 <Countries(id = '2' , name = Albania, code = ALB, population = 2889167, gdp_per_capita = 3945.21758150914>,
 <Countries(id = '3' , name = Algeria, code = ALG, population = 39666519, gdp_per_capita = 4206.03123244958>,
 <Countries(id = '4' , name = American Samoa*, code = ASA, population = 55538, gdp_per_capita = 0.0>,
 <Countries(id = '5' , name = Andorra, code = AND, population = 70473, gdp_per_capita = 0.0>]

In [82]:
# Fill Disciplines Table
for id_, discipline in disciplines.iterrows():
    session.add(Disciplines(name=discipline["Discipline"], sport_id=find_sports_id(session, discipline["Sport"]))) 
session.query(Disciplines).limit(5).all()

[<Disciplines(id = '1' , name = Swimming, sport_id = 29>,
 <Disciplines(id = '2' , name = Athletics, sport_id = 34>,
 <Disciplines(id = '3' , name = Cycling Road, sport_id = 16>,
 <Disciplines(id = '4' , name = Cycling Track, sport_id = 16>,
 <Disciplines(id = '5' , name = Fencing, sport_id = 42>]

In [83]:
# Fill Events Table
for id_, event in events.iterrows():
    session.add(Events(name=event["Event"], discipline_id=find_disciplines_id(session, event["Discipline"])))
session.query(Events).limit(5).all()

[<Events(id = '1' , name = 100M Freestyle, discipline_id = 1>,
 <Events(id = '2' , name = 100M Freestyle For Sailors, discipline_id = 1>,
 <Events(id = '3' , name = 1200M Freestyle, discipline_id = 1>,
 <Events(id = '4' , name = 400M Freestyle, discipline_id = 1>,
 <Events(id = '5' , name = 100M, discipline_id = 2>]

In [84]:
# Fill Olympics Table
for id_, olympic in olympics.iterrows():
    session.add(Olympics(year=olympic["Year"], city_id=find_cities_id(session, olympic["City"]), olympics_type=olympic["Olympics"])) 
session.query(Olympics).limit(5).all()

[<Olympics(id = '1' , year = 1896, olympics_type = Summer, city_id = 32>,
 <Olympics(id = '2' , year = 1900, olympics_type = Summer, city_id = 19>,
 <Olympics(id = '3' , year = 1904, olympics_type = Summer, city_id = 26>,
 <Olympics(id = '4' , year = 1908, olympics_type = Summer, city_id = 6>,
 <Olympics(id = '5' , year = 1912, olympics_type = Summer, city_id = 15>]

In [85]:
# Fill Athlete Table
for id_, athlete in athletes.iterrows():
    session.add(Athlete(name=athlete["Name"], surname=athlete["Surname"], country_id=find_countries_id(session, athlete["Country"]), gender=athlete["Gender"]))
session.query(Athlete).limit(5).all()

[<Athlete(id = '1' , name = Alfred, surname = HAJOS, , country_id = 83, gender = Men>,
 <Athlete(id = '2' , name = Otto, surname = HERSCHMANN, , country_id = 12, gender = Men>,
 <Athlete(id = '3' , name = Dimitrios, surname = DRIVAS, , country_id = 73, gender = Men>,
 <Athlete(id = '4' , name = Ioannis, surname = MALOKINIS, , country_id = 73, gender = Men>,
 <Athlete(id = '5' , name = Spiridon, surname = CHASAPIS, , country_id = 73, gender = Men>]

In [86]:
# Fill Medals Table
# We added only 5000 records to check if database is working correctly, adding all of them is taking too much time
i=0
for id_, medal in medals.iterrows():
    i+=1
    session.add(Medals(olympics_id=find_olympics_id(session, medal["Olympics"], medal["Year"]), event_id=find_events_id(session, medal["Event"]),athlete_id=find_athlete_id(session, medal["Name"], medal["Surname"], medal["Country"]), medal_type=medal["Medal"]))
    if i==1000:
        break
session.query(Medals).limit(5).all()

[<Medals(id = '1' , olympics_id = 1, event_id = 1, athlete_id = 1, medal_type = Gold>,
 <Medals(id = '2' , olympics_id = 1, event_id = 1, athlete_id = 2, medal_type = Silver>,
 <Medals(id = '3' , olympics_id = 1, event_id = 2, athlete_id = 3, medal_type = Bronze>,
 <Medals(id = '4' , olympics_id = 1, event_id = 2, athlete_id = 4, medal_type = Gold>,
 <Medals(id = '5' , olympics_id = 1, event_id = 2, athlete_id = 5, medal_type = Silver>]

# COMMIT CHANGES TO DATABASE

In [87]:
session.commit()